# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
.turbo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
packages/database/*.db
packages/database/*.db-journal

# Testing
coverage
.nyc_output
